nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: blue;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background: green;
    scale: 1.5;
} 